.container {
  background-color: #0e0e0e;
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
}

.header {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 2rem;
  font-size: 1.2rem;
  width: 100%;
}

.liveBtn{
  width: 3rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--surface-s1);
  color: var(--on-color-default);
  display: flex;
  justify-content: center;
  align-items: center;
}

.liveBtn.active{
  background-color: var(--on-color-default);
  color: var(--surface-s0);
}

.section {
  margin-bottom: 1.5rem;
}

.tournament {
  font-size: 0.9rem;
  font-weight: bold;
  color: #c0c0c0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.match {
  background-color: #1c1c1c;
  padding: 0.75rem;
  border-radius: 6px;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  justify-content: space-between;
}

.time {
  font-size: 0.85rem;
  color: #ccc;
  width: 50px;
}

.teams {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.team {
  font-size: 0.95rem;
}

.vs {
  font-size: 0.75rem;
  color: #888;
}

.star {
  font-size: 1.2rem;
  color: #888;
  cursor: pointer;
}

@media (max-width: 900px){
  .header{
    gap: 1rem;
  }
}

@media (max-width: 400px){
  .header{
    gap: 0.5rem;
  }
}