.container {
  background-color: #0e0e0e;
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
}

.header {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 2rem;
  font-size: 1.2rem;
  width: 100%;
}

.liveBtn{
  width: 3rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--surface-s1);
  color: var(--on-color-default);
  display: flex;
  justify-content: center;
  align-items: center;
}

.liveBtn.active{
  background-color: var(--on-color-default);
  color: var(--surface-s0);
}

.section {
  margin-bottom: 1.5rem;
}

.tournament {
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--on-color-primary);
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.5rem;
}

.tournamentFlag {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}
.tournamentFlag img{
  width: 1.5rem;
  margin-right: 0.5rem;
}

.tournament .tournamentInfo{
  display: flex;
  flex-direction: column;
}

.tournament .tournamentName {
  font-size: 0.8rem;
  font-weight: normal;
  color: var(--neutral-default);
}

.match {
  background-color: var(--surface-s1);
  padding: 0.75rem;
  border-radius: 6px;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  gap: 1rem;
  justify-content: space-between;
  transition: 0.2s;
}

.match:hover {
  background-color: var(--neutral-highlight);
}

.time {
  font-size: 0.85rem;
  color: #ccc;
  width: 40px;
  text-align: center;
}

.teams {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* text-align: center; */
}

.team {
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.team img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.vs {
  font-size: 0.75rem;
  color: #888;
}

.star {
  font-size: 1.2rem;
  color: #888;
  cursor: pointer;
}

@media (max-width: 900px){
  .header{
    gap: 1rem;
  }
}

@media (max-width: 400px){
  .header{
    gap: 0.5rem;
  }
}