.main {
    margin-top: 1rem !important;
    display: grid;
    grid-template-columns: 18rem 1fr 18rem;
    gap: 1rem;
}

@media (max-width: 1200px) {
    .main {
        grid-template-columns: 13rem 1fr 15rem;
        gap: 1.5rem;
        margin: 2rem 0;
    }
}
@media (max-width: 900px) {
    .main {
        /* max-width: 90vw !important; */
        grid-template-columns: 1fr;
        gap: 1.5rem;
        margin: 2rem 0;
    }
}