.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00050e;
  padding: 1rem;
  color: #eaeff3;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  display: flex;
  gap: .5rem;
  align-items: center;
}

.logo {
  height: 3rem;
  pointer-events: none;
}

h1 {
  font-size: 2rem;
  font-family: "Rajdhani", sans-serif;
  margin: 0.5rem 0;
}