.sidebar {
  /* position: sticky;
  top: 0; */
  height: calc(80vh - 1rem);
  max-height: 40rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--surface-sp);
  box-shadow: 0 2px 16px 0 var(--effect-elevation1);
  border-radius: 0.5rem;
  padding: 1.5rem 1rem;
  color: #eaeff3;
  transition: box-shadow 0.2s;
  gap: 2.5rem;
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.navItem {
  text-decoration: none;
  color: var(--on-color-secondary);
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.75rem 0.5rem;
  border-radius: 0.2rem;
  border-left: 4px solid transparent;
  transition: background 0.16s, color 0.16s;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.navItem.active {
  border-left: 4px solid var(--primary-default);
}
.navItem:hover,
.navItem:focus{
  color: var(--on-color-default);
}

.navItem.active {
  background: var(--primary-highlight);
  color: var(--primary-default);
}

.navItem.active .navIcon {
  color: var(--on-color-default);
}

.navIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  min-width: 1.6em;
  /* color: var(--on-color-secondary); */
}

.navText {
  display: inline-block;
  line-height: 1.2;
}

.userSection {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  width: 100%;
  padding-top: 1.5rem;
  border-top: 1px solid var(--on-surface-nLv4);
}

.avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--primary-default);
}

.username {
  font-size: 1rem;
  color: var(--on-color-default);
  font-weight: 600;
}

@media (max-width: 900px) {
  .sidebar {
    width: calc(100vw - 2rem);
    height: auto;
    max-height: none;
    padding: 0.5rem 0.5rem;
    border-radius: 2rem;
    gap: 1.5rem;
    position: sticky;
    top: 0;
    z-index: 1200;
    border-bottom: 2px solid var(--on-surface-nLv4);
  }

  .nav {
    overflow-x: scroll;
    width: calc(100% - 1rem);
    flex-direction: row;
    padding: 00 00;
    gap: 0.5rem;
    white-space: nowrap;
    scrollbar-width: none;
  }
  .nav::-webkit-scrollbar {
    display: none; 
  }

  .navItem {
    font-size: 1rem;
    padding: 0.5rem 0.6rem;
    gap: .5rem;
    min-width: 60px;
    flex: 0 0 auto;
    border-left: none;
    border-radius: 0.2rem 0.2rem 0 0;
  }
  .navItem.active {
    border-left: none;
  }

  .navIcon {
    font-size: 1.2em;
    min-width: none;
  }
}