body {
  background-color: #00050e;
  color: #eaeff3;
  font-family: "Nunito Sans", sans-serif, 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem;
}

